{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<div class="container-fluid main-content">
  <div class= "pb-4">
    <div class="flex px-4">
      <div class="topimg">
        <!-- <a href="http://www.swlab.cs.okayama-u.ac.jp/lab/nom"> -->
        <img width="60" src="images/comu_syimbol.png" alt="Comu syimbol">
        <!-- </a> -->
      </div>
      <div>
        <div class="toplogo">
          <img width="268" src="images/nomlab_logo.png" alt="Nomlab logo"><br>
        </div>
    </div>
  </div>

  <div class="prose dark:prose-invert max-w-none">
    {{ .Content }}
  </div>

<div>
  {{ partial "recent-articles/main.html" . }}
</div>
